<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Dashboard - AI Dietician</title>
</head>
<body>
	<section>
      
		<button class="btn btn-primary" onclick="sendReq()">Request diet from dietician</button>
		<a id = "reqsend" th:href="@{/user/reqdiet}" style="display: none;"></a>
		<a class = "btn btn-success" id = "buttonn"  th:href="@{/user/dieticianDiet}">Show Diet from Dietician</a>
		<a class = "btn btn-success" id = "buttonn"  th:href="@{/user/dietcal}">Show Diet from Dietician</a>


		
	</section>
</body>
</html>