<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="dietician/base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Dashboard - AI Dietician</title>
</head>

<body>
	<section>
		<div class="container-fluid">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr style="text-align: center;">
					<!-- <th scope="col">Id</th> -->
					<th scope="col">Name</th>
					<th scope="col">Goal</th>
					<th scope="col">Description</th>
					<th scope="col" style="text-align: center;">Response</th>
				</tr>
			</thead>
			<tbody>


				<tr th:each="n,iterStat : ${name}" style="text-align: center;">
					<!-- <th scope="row">1</th> -->
					<td th:text="${n}"></td>
					<td th:text="${userdetails[__${iterStat.index}__].goal}"></td>
					<td th:text="${userIdlist[__${iterStat.index}__].description}"></td>
					<td>
						
						<div class="d-flex justify-content-around">
						<a th:href="@{'/dietician/giveDiet/'+${userIdlist[__${iterStat.index}__].Id}}" class="btn btn-success">Give Diet</a>
						<a th:href="@{'/dietician/request/'+${userdetails[__${iterStat.index}__].sId}}"    class="btn btn-primary">show Details</a>
					</div>
					</td>

				</tr>

			</tbody>
		</table>
	</div>
	</section>
</body>

</html>