.logolabel {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	justify-content: space-around;
  } 

  
  
   .foodradio {
    display: none;
  }
  
  .foodradio + img {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    border: 1px solid #ccc; 
    margin-right: 10px; 
  }
  
  .foodradio:checked + img {
    border-color: #007bff; 
    box-shadow: 0 0 0 2px #007bff; 
  } 


  .dashHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
   
  }
  
  /* Style the logo image */
  .dashHeader img {
    width: 450px;
    height: 350px;
    object-fit: contain;
    margin-left: auto;
  }
  
  /* Style the dashcards */
  .dashcard {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .dashcard:hover {
    transform: scale(1.1);
  }
  
  /* Style the dashcard buttons */
  .dashcard .button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .dashcard .button:hover {
    background-color: #3e8e41;
  }
      
      /* Style the dashcard images */
      .dashcard img {
          width: 100%;
          height: auto;
          margin-bottom: 20px;
          border-radius: 10px;
      }

  .dashrow{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 5px;
    flex-wrap: nowrap;
  }

  .dashcontainer {
    max-width: 1200px; /* set the maximum width of the container */
    margin: 0 auto; /* center the container horizontally */
    padding: 0 20px; /* add some padding to the container */
    box-sizing: border-box; /* include padding in the container's width */
  }

  .fdcontainer {
    max-width: 1200px; /* set the maximum width of the container */
    margin: 0 auto; /* center the container horizontally */
    /* add some padding to the container */
    box-sizing: border-box; /* include padding in the container's width */
  }

  @media screen and (max-width: 768px) {
    .dashcard {
      width: 100%; 
      margin: 10px 0; 
    }
    
    .dashrow {
      flex-wrap: wrap; 
      margin-bottom: 20px; 
    }
    
    .dashHeader img {
      width: 100%; 
      margin: 0 auto 20px auto; 
    }

    .dashHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      flex-wrap: wrap;
     
    }
  }
  
  