<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>About Us - AI Dietitian</title>


</head>

<body>
	<!-- Main Content -->

	<section class="about-page">

		<div class="intro">
			<h1>About AI Dietitian</h1>
			<p>Welcome to our AI Dietitian website! We are a team of experts dedicated to providing personalized
				nutrition advice to help you achieve your health and wellness goals. Our advanced AI technology analyzes
				your unique dietary needs and preferences to develop a customized meal plan that suits your lifestyle
				and supports your health goals.</p>
		</div>

		<div class="mission">
			<h2>Our Mission</h2>
			<p>Our mission is to provide personalized nutrition advice to our clients through the use of advanced AI
				technology, ensuring that they achieve their health goals.</p>
		</div>

		<div class="expertise">
			<h2>Our Expertise</h2>
			<ul>
				<li>Personalized Meal Plans</li>
				<li>Calories Details of foods</li>
				<li>Proper Diet Plan</li>
				<li>Dietitian Consultations</li>
			</ul>
		</div>

		<div class="values">
			<h2>Our Values</h2>
			<p>We value integrity, innovation, and collaboration. We strive to ensure that our clients receive the
				highest quality of nutrition advice and support, and that we contribute positively to the health and
				wellness industry.</p>
		</div>







	</section>

</body>

</html>