<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home Page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		
		

		<div class="text-center">
			
	
			<h1 class="font-weight-bold">AI Dietician</h1>
			<p>Take control of your diet with our efficient and personalized meal plans. Discover a smarter way to eat.</p>
			<button th:onclick="|window.location.href='@{/login}'|" class="btn bg-primary btn-lg text-white">Get Started</button>
		</div> 
	</section>
</body>
</html>